# testnet
export NODE=https://rpc.elgafar-1.stargaze-apis.com:443/
export CHAIN_ID=elgafar-1
export KEYRING=os

export FACTORY=stars1...
export MINTER=stars1...
export SG721=stars1...
export MINTER_ID=1654
export FACTORY_ID=1653
export SG721_CODE_ID=1652
export USER=stars1...
export ADMIN=stars1...